* {
    border: 1px solid white;
    color: #ffffff;
}
.main {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-box,
.day-box {
    font-size: 6em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-box {
    background-color: black;
    height: 20em;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    /* row-gap: 5px;
    column-gap: 5px; */
    grid-template-rows: 1fr 1fr;
    /* gap: 5px; */
}

.date-box,
.clock-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 6em;
}

.date-box div {
    display: flex;
    align-items: center;
    justify-content: center;
}
